span:nth-child(2) {
    background-color: black;
    color: white;
    height: 100px;
    width: 300px;
}

li:nth-child(odd){
    color: white;
}
section:nth-child(4) ,span,u,a {
    display: block;
}
section:nth-child(5) div,h5,p{
    display: inline;
}
.red{
    float: right;
}
.green{
    float: left;
}